<div class="card {{ include.class }}{% if include.link %} card-link"> <a href="{{ include.link }} {% if include.target %}" target="{{ include.target }} {% endif %} {% endif %}">
    {% if include.img %}
        {% assign loading = include.loading |  default: "lazy" %}
        {% assign altText = include.title |  append: ' Icon' %}
        {% include figure.liquid path=include.img loading=loading class="card-img" alt=altText sizes="350px" %}
    {% endif %}
    <div class="card-body">
        <h2 class="primary center-text">{{ include.title }}</h2>
        {{ include.body }}
    </div>
    {% if include.link %}<p class="read-more center-text">Read more</p></a>{% endif %}
</div>