<div class="card shadow h-100 position-relative" {% if include.AOS %}data-aos="{{ include.AOS }}"{% endif %}>
  {% if include.img %}
    {% picture medium {{ include.img }} --parent class="card-img-top" --alt {{ include.alt }} %}
  {% endif %}
  <div class="card-body text-center p-4" style="padding-bottom: 60px !important">
    <h6 class="card-title display-5 fs-1">{{ include.title }}</h6>
    <p class="card-text text-start" style="text-align: justify !important">{{ include.p }}</p>
    {{ include.other }}
  </div>
</div>