<div class="project-intro">
    <div class="project-img">
        {%  assign altText = include.title |  append: ' Icon' %}
        <img src="{{ include.img |  split: '.' |  first | relative_url }}-480.webp" width="250px" height="250px" loading="lazy" class="rounded-corners" alt="{{ altText }}" onerror="this.onerror=null; this.src='{{ include.img | relative_url }}';" >
    </div>
    <hr class="project-vertical-hr">
    <div class="project-content">
        <div class="title-with-element primary">
            <h1 class="capitalize inline no-margin">{{ include.title }}</h1>
            {% if include.icons %}
                {% include tech-icons.liquid icons=include.icons class="element" icon-width="50px" %}
            {% endif %}
        </div>
        <br class="big-spacer">
        <p>{{ include.description }}</p>
        {% if include.link %}
        <a href="{{ include.link }}" class="button center-element row">Open {{ include.title }}</a>
        {% endif %}
    </div>
</div>