<div class="project-intro">
    <div class="project-img">
        {%  include figure.liquid path=include.img class="no-shadow rounded-corners" max-width="250px" %}
    </div>
    <hr class="project-vertical-hr">
    <div class="project-content">
        <div class="title-with-element primary">
            <h2 class="capitalize inline no-margin">{{ include.title }}</h2>
            {% if include.icons %}
                <div class="center-element row element">
                    {% for icon in include.icons %}
                        {%  assign object = site.data.tech.languages | where: "name", icon |  first %}
                        {% if object == nil %}
                            {%  assign object = site.data.tech.tools| where: "name", icon |  first %}
                        {% endif %}
                        <img width="50px" src="{{ object.path }}" alt="{{ icon }}" class="icon no-shadow no-padding" title="{{ icon }}">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br class="spacer">
        <p>{{ include.description }}</p>
        {% if include.link %}
        <a href="{{ include.link }}" class="button center-element row">Open {{ include.title }}</a>
        {% endif %}
    </div>
</div>