<div class="center-element row element {{ include.class }}">
{% for icon in include.icons %}
    {%  assign object = site.data.tech.languages | where: "name", icon |  first %}
    {% if object == nil %}
        {%  assign object = site.data.tech.tools| where: "name", icon |  first %}
    {% endif %}
    <img width="{{ include.icon-width }}" src="{{ object.path }}" alt="{{ icon }}" class="icon no-shadow no-padding" title="{{ icon }}">
{% endfor %}
</div>