<div style="max-width: {{ include.max-width }}; max-height: {{ include.max-height }}; margin: 0 auto;">
  <img src="{{ include.src }}" style="  {{ include.style }} width: 100%; height: 100%; border-radius: {{ include.radius }}">
</div>